.backgroundImage{
  background-image: url("photographer.jpg");
  background-color: #7ec850; 
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.canvas{
	height: 80%;
	width: 30%;
	background-color: gray;
}