body {
  font-family: "Play", sans-serif;
}

.backgroundImage {
  background-image: url("../images/background.jpg");
  background-color: light gray;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.poster {
  display: block;
  background-image: url("../images/poster.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
  color: black;
  transition: color 0.3s;
}

.button:hover {
  color: gray;
}

.primaryText {
  font-size: 40px;
}

.primaryButtonFontSize {
  font-size: 40px;
}

.secondaryText {
  font-size: 20px;
}

.secondaryButtonFontSize {
  font-size: 20px;
}

i {
  color: #e5322d;
}

/* All media queries */

/* for tabs and ipads*/
@media screen and (max-width: 1050px) and (min-width: 601px) {
  .primaryButtonFontSize {
    font-size: 40px;
  }
}

/* For all size of mobile screens, screen width 600px or smaller */

@media screen and (max-width: 600px) {
  .primaryText {
    font-size: 20px;
  }

  .primaryButtonFontSize {
    font-size: 20px;
  }

  .secondaryText {
    font-size: 15px;
  }

  .secondaryButtonFontSize {
    font-size: 15px;
  }
}
